<%- include("../partials/adminHeader") %>

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order detail</h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row mb-50 mt-20 order-info-wrap">
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-person"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Customer</h6>
              <p class="mb-1">
                <%= orderDetails[0].userDetails[0].username %> <br />
                <%= orderDetails[0].userDetails[0].email %> <br />
                <%= orderDetails[0].userDetails[0].phone %>
              </p>
            </div>
          </article>
        </div>
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-place"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Deliver to</h6>
              <p class="mb-1">
                City: <%= orderDetails[0].addressDetails[0].city %>, <%=
                orderDetails[0].addressDetails[0].state %> <br />
                <%= orderDetails[0].addressDetails[0].house %> <br />
                Po Box <%= orderDetails[0].addressDetails[0].pincode %>
              </p>
            </div>
          </article>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" style="text-align: center">
            <thead>
              <tr>
                <th scope="col" style="text-align: center">Image</th>
                <th scope="col" style="text-align: center">Name</th>
                <th scope="col" style="text-align: center">Size</th>
                <th scope="col" style="text-align: center">Unit Price</th>
                <th scope="col" style="text-align: center">Quantity</th>
                <th scope="col" style="text-align: center">Sub Total</th>
                <th scope="col" style="text-align: center">Payment Method</th>
                <th scope="col" style="text-align: center">Status</th>
                <th scope="col" style="text-align: center">Change status</th>
                <th scope="col" style="text-align: center">Return Request</th>
                <!-- New Column -->
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < orderDetails.length; i++) { %>
              <tr>
                <td style="text-align: center">
                  <a class="itemside" href="#">
                    <div class="center">
                      <img
                        src="/uploads/product-images/<%= orderDetails[i].productDetails[0].productImage[0] %>"
                        width="40"
                        height="40"
                        class="img-xs"
                        alt="Item"
                      />
                    </div>
                  </a>
                </td>
                <td style="text-align: center">
                  <%= orderDetails[i].productDetails[0].productName %>
                </td>
                <td style="text-align: center">
                  <%= orderDetails[i].orderedItems.size %>
                </td>
                <td style="text-align: center">
                  ₹<%= orderDetails[i].productDetails[0].salePrice %>
                </td>
                <td style="text-align: center">
                  <%= orderDetails[i].orderedItems.quantity %>
                </td>
                <td style="text-align: center">
                  ₹<%= orderDetails[i].productDetails[0].salePrice *
                  orderDetails[i].orderedItems.quantity %>
                </td>
                <td style="text-align: center">
                  <span class="badge rounded-pill alert-success text-success"
                    ><%= orderDetails[i].paymentMethod %></span
                  >
                </td>
                <td style="text-align: center">
                  <%= orderDetails[i].orderStatus %>
                </td>
                <td>
                  <% const orderStatus = orderDetails[i].orderStatus; %> <% if
                  (orderStatus === 'pending') { %>
                  <button
                    class="btn btn-primary"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'confirmed')"
                  >
                    Confirm
                  </button>
                  <% } else if (orderStatus === 'confirmed') { %>
                  <button
                    class="btn btn-warning"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'shipped')"
                  >
                    Ship
                  </button>
                  <% } else if (orderStatus === 'shipped') { %>
                  <button
                    class="btn btn-info"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'outForDelivery')"
                  >
                    Out for Delivery
                  </button>
                  <% } else if (orderStatus === 'outForDelivery') { %>
                  <button
                    class="btn btn-success"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'delivered')"
                  >
                    Delivered
                  </button>
                  <% } else if (orderStatus === 'delivered') { %>
                  <button
                    class="btn btn-secondary"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'returned')"
                  >
                    Return
                  </button>
                  <% } else if (orderStatus === 'cancelled') { %>
                  <button
                    class="btn btn-danger"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'pending')"
                  >
                    Reopen
                  </button>
                  <% } else if (orderStatus === 'returned') { %>
                  <button
                    class="btn btn-primary"
                    style="width: 140px"
                    onclick="toggleOrderStatus('<%= orderDetails[i].orderedItems.orderId %>', 'pending')"
                  >
                    Reopen
                  </button>
                  <% } %>
                </td>
                <td>
                  <% if(orderDetails[i].returnProStatus===true){ %>
                  <span>Return Requested</span>
                  <button
                    type="button"
                    class="open-modal-btn"
                    data-return-reason="<%= orderDetails[i].returnProReason %>"
                    data-return-message="<%= orderDetails[i].returnProMessage %>"
                    style="
                      background-color: transparent;
                      border: none;
                      color: blue;
                      padding: 2px;
                      font-size: 12px;
                      cursor: pointer;
                    "
                  >
                    Return Reason
                  </button>
                  <% }else if (orderDetails[i].returnProStatus===false){ %> No
                  Request <% } %>
                </td>
              </tr>
              <% } %>
              <tr>
                <td colspan="4" style="padding-top: 20px">
                  <article class="float-end">
                    <dl class="dlist">
                      <dt>Grand total:</dt>
                      <dd>
                        <b class="h5">₹<%= orderDetails[0].totalAmount %></b>
                      </dd>
                    </dl>
                    <!-- <dl class="dlist">
                      <dt class="text-muted">Status:</dt>
                      <dd>
                        <span
                          class="badge rounded-pill alert-success text-success"
                          >Cash On Delivery</span
                        >
                      </dd>
                    </dl> -->
                  </article>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="returnReasonModal"
    tabindex="-1"
    aria-labelledby="modalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Return Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <strong>Return Reason:</strong>
              <p id="modalReturnReason"></p>
            </div>
            <div class="col-md-6">
              <strong>Return Message:</strong>
              <p id="modalReturnMessage"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("../partials/adminFooter") %>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // Frontend JavaScript code
  function toggleOrderStatus(orderId, newStatus) {
    console.log(orderId);
    console.log(newStatus);
    fetch(`/admin/updateOrderStatus/${orderId}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ newStatus }),
    })
      .then((response) => response.json())
      .then((data) => {
        // Handle successful update
        console.log("Order status updated:", data);
        window.location.reload();
      })
      .catch((error) => {
        // Handle error
        console.error("Error updating order status:", error);
      });
  }
</script>
<script>
  $(document).ready(function () {
    // Event listener for clicking on the modal button
    $(".open-modal-btn").click(function () {
      // Get the data attributes for return reason and message
      var returnReason = $(this).data("return-reason");
      var returnMessage = $(this).data("return-message");

      // Set the content of the modal
      $("#modalReturnReason").text(returnReason);
      $("#modalReturnMessage").text(returnMessage);

      // Open the modal
      $("#returnReasonModal").modal("show");
    });
  });
</script>
