<%- include("../partials/userHeader") %>

<div class="container">
  <h1>Edit Address</h1>
  <form action="/saveAddress" method="post">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="<%= firstName %>">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="<%= lastName %>">
    </div>
    <div class="form-group">
      <label for="house">House</label>
      <input type="text" class="form-control" id="house" name="house" value="<%= house %>">
    </div>
    <div class="form-group">
      <label for="locality">Locality</label>
      <input type="text" class="form-control" id="locality" name="locality" value="<%= locality %>">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" value="<%= city %>">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" name="state" value="<%= state %>">
    </div>
    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input type="text" class="form-control" id="pincode" name="pincode" value="<%= pincode %>">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" name="country" value="<%= country %>">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= email %>">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" name="phone" value="<%= phone %>">
    </div>
    <button type="submit" class="btn btn-primary">Save Address</button>
  </form>
</div>

<%- include("../partials/userFooter") %>
