<%- include("../partials/userHeader") %>

<main>
  <div class="table-responsive" style="min-height: 500px">
    <table class="order-table">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Size</th>
          <th>Order Date</th>
          <th>Payment Method and Status</th>
          <th>Order Track</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < orderDetails.length; i++) { %> <% const order =
        orderDetails[i]; %>
        <tr>
          <td class="product-image">
            <img
              src="/uploads/product-images/<%= order.productImage[1] %>"
              alt="Product Image"
            />
          </td>
          <td><%= order.productName %></td>
          <td><%= order.quantity %></td>
          <td><%= order.size %></td>
          <td>
            <%= order.orderDate ? new
            Date(order.orderDate).toLocaleString('en-US', { dateStyle: 'medium',
            timeStyle: 'short' }) : '' %>
          </td>
          <td><%= order.paymentMethod %> : <%= order.paymentStatus %></td>
          <td><%= order.orderStat %></td>
          <td>
            <% if (order.paymentStatus === 'success') { %>
            <% if (order.orderStat === 'cancelled') { %>
            <span>Cancelled</span>
            <% } else if (order.orderStat === 'returned') { %>
            <span>Returned</span>
            <% } else if (order.orderStat === 'confirmed' || order.orderStat ===
            'pending'|| order.orderStat === "shipped" || order.orderStat ===
            "outForDelivery") { %>
            <button
              class="cancel-btn"
              data-order-id="<%= order.orderedItemId %>"
              onclick="cancelOrder('<%= order.orderedItemId %>')"
            >
              Cancel
            </button>
            <% } else if (order.orderStat === 'delivered') { %>
            <button
              class="return-btn"
              data-order-id="<%= order.orderedItemId %>"
              onclick="returnOrder('<%= order.orderedItemId %>')"
            >
              Return
            </button>
            <% } %>
            <% } else if (order.paymentStatus === 'pending') { %>
              <button
              class="retry-btn"
              data-order-id="<%= order.orderedItemId %>"
            >
              Retry
            </button>
            <% } %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<%- include("../partials/userFooter") %>

<style>
  /* Global Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }

  /* Container Styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* Table Styles */
  .table-responsive {
    min-height: 500px;
    overflow: auto;
  }

  .order-table {
    max-width: 800px; /* Adjust the maximum width as needed */
    width: 100%;
    margin: 20px auto 0; /* Center the table horizontally and add margin to the top */
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .order-table th,
  .order-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .order-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }

  .order-table td.product-image img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
  }

  /* Button Styles */
  .cancel-btn,
  .return-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .return-btn {
    background-color: yellow;
    color: black;
  }

  .cancel-btn:hover,
  .return-btn:hover {
    background-color: #c82333;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // Handle retry button click for Razorpay payment method
  $(document).on("click", ".retry-btn", function (event) {
    event.preventDefault(); // Prevent the default link behavior
    var orderId = $(this).data("order-id");
    console.log(orderId);
    // Send an AJAX request to retry Razorpay payment
    $.ajax({
      type: "POST",
      url: "/second-try", // Use the same endpoint for retry
      data: { payment_method: "razorpay", order_id: orderId }, // Specify Razorpay as the payment method
      success: function (response) {
        // If retry is successful, proceed with Razorpay payment
        paymentMethodRazorpayPayment(response);
      },
      error: function (xhr, status, error) {
        // Handle error response from the server
        console.error(error); // Log the error for debugging
        var errorMessage = xhr.responseJSON
          ? xhr.responseJSON.message
          : "An error occurred while retrying the payment. Please try again later.";
        console.log(errorMessage);
        // Show an error message to the user using SweetAlert2
        showErrorAlert(errorMessage);
      },
    });
  });

  function paymentMethodRazorpayPayment(orderinfo) {
    console.log("inside ejs razorpayPayment function", orderinfo);
    console.log(orderinfo.razorpayOrderDetails.amount);
    console.log(orderinfo.razorpayOrderDetails.id);
    const options = {
      key: `rzp_test_XnnB8x997qkm5Z`, // Enter the Key ID generated from the Dashboard
      amount: orderinfo.razorpayOrderDetails.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "Reid", //your business name
      description: "Test Transaction",
      image: "/user/assets/images/demos/demo-10/logo-main.png",
      order_id: `${orderinfo.razorpayOrderDetails.id}`, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature);
        console.log("1", response.razorpay_payment_id);
        console.log("2", response.razorpay_order_id);
        console.log("response.razorpay_signature", response.razorpay_signature);

        verifyPaymentSignature(
          response,
          orderinfo.order,
          orderinfo.razorpayOrderDetails
        );
      },
      prefill: {
        name: "anushidh",
        email: "anushidh101@gmail.com",
        contact: "8075257134",
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#3399cc",
      },
    };

    console.log("new Razorpay(options)");
    const rzp1 = new Razorpay(options);
    rzp1.open();
  }

  function verifyPaymentSignature(payment, orderDetails, razorpayOrderDetails) {
    console.log(
      "function verifyPaymentSignature(payment,orderDetails,razorpayOrderDetails)"
    );
    $.ajax({
      url: "/verify-payment",
      method: "post",
      data: {
        payment,
        orderDetails,
        razorpayOrderDetails,
      },

      success: (response) => {
        console.log(response, "22222222222222222222");
        if (response.status) {
          Swal.fire({
            title: "Good job!",
            text: "Payment successful!",
            icon: "success",
            confirmButtonText: "Ok!",
          }).then(() => {
            location.href = "/order-success";
          });
        } else {
          Swal.fire({
            title: "Sorry!",
            text: "Payment failed",
            icon: "error",
            confirmButtonText: "Ok!",
          }).then(() => {
            location.href = "/user-profile";
          });
        }
      },
    });
  }
</script>
<script>
  function cancelOrder(orderId) {
    console.log("Cancelling order with ID:", orderId);
    // Display confirmation dialog using SweetAlert2
    Swal.fire({
      title: "Are you sure?",
      text: "Once cancelled, you will not be able to recover this order!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, cancel it!",
      cancelButtonText: "No, keep it",
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed the cancellation, make AJAX request
        $.ajax({
          url: "/cancel-order",
          method: "POST",
          data: { orderId: orderId },
          success: function (response) {
            // Update the button text to "Cancelled" upon successful cancellation
            $('.cancel-btn[data-order-id="' + orderId + '"]').text("Cancelled");
            // Show success message using SweetAlert2
            Swal.fire(
              "Cancelled!",
              "Your order has been cancelled.",
              "success"
            );
          },
          error: function (err) {
            console.error("Error cancelling order:", err);
            // Show error message using SweetAlert2
            Swal.fire(
              "Error!",
              "Failed to cancel the order. Please try again later.",
              "error"
            );
          },
        });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        // User clicked "No", keep the order
        Swal.fire("Cancelled", "Your order is safe :)", "error");
      }
    });
  }

  function returnOrder(orderId) {
    console.log("Returning order with ID:", orderId);
    // Display confirmation dialog using SweetAlert2
    Swal.fire({
      title: "Are you sure?",
      text: "Once returned, you will not be able to recover this order!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes, return it!",
      cancelButtonText: "No, keep it",
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed the return, make AJAX request
        $.ajax({
          url: "/return-order",
          method: "POST",
          data: { orderId: orderId }, // Include orderId in the data sent to the backend
          success: function (response) {
            // Update the button text to "Returned" upon successful return
            $('.return-btn[data-order-id="' + orderId + '"]').text("Returned");
            // Show success message using SweetAlert2
            Swal.fire("Returned!", "Your order has been returned.", "success");
          },
          error: function (err) {
            console.error("Error returning order:", err);
            // Show error message using SweetAlert2
            Swal.fire(
              "Error!",
              "Failed to return the order. Please try again later.",
              "error"
            );
          },
        });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        // User clicked "No", keep the order
        Swal.fire("Cancelled", "Your order is safe :)", "error");
      }
    });
  }
</script>
