<%- include("../partials/userHeader") %>
<main>
  <!-- wishlist-breadcrumb -->
  <section
    style="
      background-image: url('img/bg/page-title.png');
      height: 150px;
      padding: 20px 0;
    "
  >
    <div style="max-width: 1200px; margin: 0 auto">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        "
      >
        <div>
          <h1 style="font-size: 70px; color: #333">Wishlist</h1>
          <ul
            style="
              list-style: none;
              padding: 0;
              display: flex;
              justify-content: center;
            "
          >
            <li style="margin-right: 10px">
              <a href="index.html" style="text-decoration: none; color: #007bff"
                >Home</a
              >
            </li>
            <li style="color: #666">Wishlist</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- end-wishlist-breadcrumb -->

  <!-- Cart Area Start-->
  <section class="cart-area pt-100 pb-100" style="padding-top: 10px">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="#">
            <div class="table-content table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Images</th>
                    <th class="cart-product-name">Product</th>
                    <th>Size</th>
                    <th class="product-price">Unit Price</th>
                    <th class="product-quantity">Stock Status</th>
                    <th class="product-subtotal">Add to Cart</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% for( let i=0; i < wishlist.length; i++ ) { %>
                  <tr>
                    <td class="product-thumbnail">
                      <a href="#"
                        ><img
                          src="/uploads/product-images/<%= wishlist[i].product.productImage && wishlist[i].product.productImage.length > 0 ? wishlist[i].product.productImage[0] : '' %>"
                          alt=""
                          style="
                            max-width: 100px;
                            height: auto;
                            display: block;
                            margin: 0 auto;
                          "
                      /></a>
                    </td>
                    <td class="product-name">
                      <a href="#"><%= wishlist[i].product.productName %></a>
                    </td>
                    <td>
                      <span><%= wishlist[i].size %></span>
                    </td>
                    <div
                      style="display: none"
                      id="productSize<%= wishlist[i].product._id %>"
                    >
                      <%= wishlist[i].size %>
                    </div>
                    <td class="product-price">
                      <span class="amount"
                        >₹<%= wishlist[i].product.salePrice %></span
                      >
                    </td>
                    <td class="product-quantity"><%=stocks[i]%></td>
                    <td class="product-subtotal">
                      <button class="btn theme-btn-2" type="submit">
                        <a
                          href="#"
                          onclick="addToCart('<%= wishlist[i].product._id %>')"
                          >Add To Cart</a
                        >
                      </button>
                    </td>
                    <td class="product-remove">
                      <a
                        href="#"
                        onclick="productRemove('<%= wishlist[i].product._id %>')"
                        >X</a
                      >
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Cart Area End-->
</main>
<%- include("../partials/userFooter") %>

<script>
  function productRemove(productId) {
    console.log("This is productId :", productId);
    // Show a confirmation prompt
    Swal.fire({
      title: "Are you sure?",
      text: "Once removed, you cannot undo this action.",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Remove",
    }).then((result) => {
      if (result.isConfirmed) {
        // User confirmed removal
        console.log("clicked", productId);
        $.ajax({
          url: "/removeFromWishlist/" + productId,
          type: "post",
          data: {
            productId: productId,
          },
        })
          .done((res) => {
            console.log(res);

            Swal.fire("Success", `${res.message}`, "success").then(() => {
              location.reload();
            });
          })
          .fail((err) => {
            console.log(err);
          });
      } else {
        // User canceled removal
        console.log("Removal cancelled");
      }
    });
  }

  function addToCart(prodId) {
    console.log("Adding product to cart...");
    console.log(prodId);

    // Fetch the quantity from the user input
    var quantity = 1; // Assuming your input field has id="quantity"
    var size = $("#productSize" + prodId)
      .text()
      .trim();
    // Log both quantity and size
    console.log("Quantity:", quantity);
    console.log("Size:", size);

    $.ajax({
      type: "POST",
      url: "/addToCart", // Adjust the URL if needed
      data: {
        size: size,
        quantity: quantity,
        prodId: prodId,
      },
      success: (res) => {
        // Log the response object
        if (res.status === "true") {
          Swal.fire({
            title: "Added to Cart!",
            text: "Continue Shopping",
            icon: "success",
            timer: 2000,
            showConfirmButton: false,
          }).then(() => {
            location.reload(); // Reloads the page
          });
        } else if (res.status === "Out of stock") {
          Swal.fire({
            title: "Stock!!",
            text: "The product is out of stock",
            icon: "error",
            timer: 2000,
          });
        } else {
          Swal.fire({
            title: "You need to Login first",
            text: "Continue Shopping",
            icon: "warning",
            timer: 2000,
            showConfirmButton: false,
          }).then(() => {
            window.location.href = "/login";
          });
        }
      },
      error: (xhr, status, error) => {
        console.error("Error:", error);
        // Display an error message to the user (optional)
        alert(
          "An error occurred while processing your request. Please try again later."
        );
      },
    });
  }
</script>
